body {
  margin: 0;
  padding: 0;
  background-color: black;
}

/*  */

.cabecalho_46garage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 5px 30px yellow;

  .logo_cabecalho {
    width: 150px;
    height: 75px;
    cursor: pointer;
  }

  .ul_cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 2rem;
  }

  .li_cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    background-color: black;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: solid 1px yellow;
    transition: all 0.2s;
    border-radius: 10px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .links {
    text-decoration: none;
    display: inline-block;
  }

  .li_cabecalho:hover {
    color: orange;
    border: solid 1px orange;
  }
}

/*  */

.fundo {
  display: flex;
  margin-top: 0.1%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 9)),
    url("../imgs/fundo_cabecalho.png");
  width: 100%;
  height: 83dvh;

  .objetos {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }

  .conteiner_text {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 100%; */
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  }

  /* .conteiner_text2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
  } */

  .conteiner_class_fotos {
    display: flex;
    gap: 7rem;
  }

  .class_fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.274);
    box-shadow: 0 0 10px yellow;
    width: 100%;
    height: 600px;
    transition: all 0.3s;
  }

  .class_fotos:hover {
    transform: scale(0.9);
  }

  .foto_text1 {
    box-shadow: 0 0 10px yellow;
    border-radius: 10px;
    width: 100%;
    height: 150px;
    display: block;
    filter: blur(2px);
  }

  .foto_text2 {
    box-shadow: 0 0 10px yellow;
    border-radius: 10px;
    width: 100%;
    height: 160px;
  }

  .foto_insta {
    display: flex;
    width: 10%;
    height: 10%;
  }

  .text_img1 {
    display: flex;
    text-align: center;
    align-items: center;
    color: yellow;
  }

  .text_img2 {
    display: flex;
    margin: 10px;
    text-align: start;
    align-items: center;
    font-style: italic;
    color: white;
  }

  /* .foto_text1:hover {
    transform: scale(0.9);
  } */

  .foto_text2:hover {
    transform: scale(0.9);
  }

  .conteiner_form {
    display: flex;
    /* width: 100%; */
    justify-content: flex-end;
    align-items: flex-start;
  }

  .conteiner_form textarea {
    resize: none;
  }

  .form-container {
    background-color: black;
    color: yellow;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-shadow: 0 0 10px yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
  }

  button {
    background-color: black;
    color: yellow;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: yellow;
    color: black;
  }

  .redes_sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .instagram_logo {
    width: 40px;
    height: auto;
  }
}

/*  */

.footer_46garage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 10px 0 15px yellow;
  background-color: black;

  .conteiner_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .logo_footer {
    width: 60px;
    height: 32.5px;
    cursor: pointer;
  }

  .text1,
  .text2,
  .sobre-link {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: yellow;
    text-align: center;
  }

  .link_insta,
  .insta_logo {
    margin: 0;
    padding: 0;
  }

  .insta_logo {
    width: 12%;
    height: 12%;
    cursor: pointer;
  }

  .link_insta {
    display: inline-block;
    width: 12%;
    height: 12%;
  }

  .sobre {
    text-decoration: underline;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: yellow;
  }

  .creditos {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    text-align: center;
    cursor: pointer;
  }

  .creditos:hover {
    color: rgb(255, 208, 0);
  }

  .links {
    text-decoration: none;
    display: inline-block;
  }

}

/*  */


@media (max-width: 1300px) {
  .conteiner_class_fotos {
    margin: 0;
    padding: 0;
    margin-left: 10%;
  }
}

@media (max-width: 1190px) {

  body {
    max-width: 100%;
  }

  .cabecalho_46garage {
    max-width: 100%;
    max-height: 60px;
  }

  .logo_cabecalho {
    max-width: 60%;
    max-height: 35px;
  }

  .li_cabecalho {
    max-width: 100%;
    max-height: 35px;
  }

  .fundo {
    display: flex;
    margin-top: 1%;
    max-width: 100%;
    height: 2000px;
    flex-direction: column;
    gap: 1rem;

    .objetos {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10rem;
    }
  }

  .conteiner_class_fotos {
    flex-direction: column;
    margin-left: 0%;
  }

  button:active {
    background-color: yellow;
    color: black;
  }

  .conteiner_form {
    max-width: 90%;
  }

  .form-container {
    max-width: 70%;
    margin-right: 15%;
  }

  .footer_46garage {
    max-width: 100%;
  }

  .conteiner_footer {
    gap: 6rem;
  }

  .text1,
  .text2 {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: yellow;
    text-align: center;
    max-width: 100%;
  }

  .creditos {
    display: none;
  }
}

@media (max-width: 695px) {

  body {
    max-width: 100%;
  }

  .cabecalho_46garage {
    max-width: 100%;
    max-height: 60px;
  }

  .logo_cabecalho {
    max-width: 70px;
    max-height: 35px;
  }

  .li_cabecalho {
    max-width: 70px;
    max-height: 35px;
  }

  .fundo {
    display: flex;
    max-width: 100%;
    height: 2000px;
    flex-direction: column;
    gap: 1rem;
  }

  .footer_46garage {
    max-width: 100%;
  }

  .conteiner_footer {
    max-width: 100%;
    max-height: 500px;
    gap: 1.5rem;
  }

  .text1,
  .text2 {
    font-size: 14px;
  }

}